/* Colors: Purple - #9f9cc0
           Green -  #cce1c3
*/
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Concert+One&family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Patua+One&display=swap');
html,
body {
  margin: 0;
  background-color: #cce1c3;
  font-family: 'Kavoon', cursive;
}
.images {
  margin: 10px;
}
.mid-portion {
  padding: 3em;
  display: grid;
  grid-gap: 2em;
  /*  If we change this to auto-fill will create extra columns in the grid, instead of creating a fluid column as auto-fit does.  */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.contact-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.quote {
  padding: 2em;
  border-radius: 0.5em;
  box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.4);
  border-bottom: 4px solid #9f9cc0;
  border-right: 4px solid #9f9cc0;
}
p {
  margin-top: 0;
}
span {
  font-weight: bold;
  position: relative;
}
.mid-portion a {
  text-decoration: none;
  color: black;
}
.photo-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(8, auto);
  grid-gap: 15px;
}
.gallery_img {
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.2s;
}
.gallery_img:hover {
  transform: scale(1.5);
}
.gallery_item-1 {
  grid-column-start: 3;
  grid-column-end: 8;
  grid-row-start: 1;
  grid-row-end: 5;
}
.gallery_item-2 {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 5;
  grid-row-end: 6;
}
.gallery_item-3 {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 6;
  grid-row-end: 7;
}
.gallery_item-4 {
  grid-column-start: 1;
  grid-column-end: 10;
  grid-row-start: 7;
  grid-row-end: 8;
}
/* Media Query for Mobile Devices */
@media (max-width: 767px) {
  .logo-banner img {
    width: 100vw;
    height: auto;
    margin-bottom: -5px;
  }
  .flexin {
    display: flex;
  }
  .flexin a {
    margin: 5px;
  }
  .contact a {
    margin: 5px;
  }
  .one {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  footer {
    display: flex;
    justify-content: space-evenly;
    border-top-style: solid;
    border-top-color: #9f9cc0;
    border-top-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #9f9cc0;
    border-bottom-width: 4px;
    margin-top: 30px;
    padding-bottom: 20px;
    align-items: center;
  }
  footer .contact {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .contact a {
    color: black;
    text-decoration: none;
  }
  .contact i {
    color: #9f9cc0;
  }
  iframe {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 400px;
  }
  .mid-portion {
    display: flex;
    flex-direction: column;
  }
  .service-area {
    margin: 10px 10px 20px 10px;
    border-top-style: solid;
    border-top-color: #9f9cc0;
    border-top-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #9f9cc0;
    border-bottom-width: 4px;
  }
  .contact-reclaim {
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top-style: solid;
    border-top-color: #9f9cc0;
    border-top-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #9f9cc0;
    border-bottom-width: 4px;
  }
  .first {
    padding: 10px 30px;
    outline: none;
    background-color: #9f9cc0;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px black;
  }
  .three {
    margin-top: 30px;
  }
  .four {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .six {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .first:hover {
    background-color: #e9f8f3;
    color: #9f9cc0;
  }

  .first:active {
    background-color: #e9f8f3;
    box-shadow: 0 5px black;
    transform: translateY(4px);
  }
  .promo-banner h3 {
    text-align: center;
    background-color: #9f9cc0;
    margin: 0;
    padding: 10px;
    color: #e9f8f3;
    font-weight: lighter;
  }
  .promo-banner a {
    text-decoration: none;
    color: black;
  }
  nav {
    border-top-style: solid;
    border-top-color: #9f9cc0;
    border-top-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #9f9cc0;
    border-bottom-width: 4px;
    padding: 20px;
    background-color: #cce1c3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #cce1c3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: #9f9cc0;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: white;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
}
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .logo-banner img {
    width: 100%;
    height: 100%;
  }
  .promo-banner h3 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #9f9cc0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #e9f8f3;
    height: 100%;
  }
  .promo-banner a {
    text-decoration: none;
    color: black;
  }
  nav {
    border-top-style: solid;
    border-top-color: #9f9cc0;
    border-top-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #9f9cc0;
    border-bottom-width: 4px;
    border-left-style: solid;
    border-left-color: #9f9cc0;
    border-left-width: 4px;
    padding: 20px;
    background-color: #cce1c3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .flexin {
    display: flex;
  }
  .flexin a {
    margin: 5px;
  }
  .contact a {
    margin: 5px;
  }
  footer {
    display: flex;
    justify-content: space-evenly;
    border-top-style: solid;
    border-top-color: #9f9cc0;
    border-top-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #9f9cc0;
    border-bottom-width: 4px;
    padding-bottom: 20px;
    align-items: center;
  }
  footer .contact {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .contact a {
    color: black;
    text-decoration: none;
  }
  .contact i {
    color: #9f9cc0;
  }
  iframe {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 400px;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .first {
    padding: 10px 30px;
    outline: none;
    background-color: #9f9cc0;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px black;
  }

  .first:hover {
    background-color: #e9f8f3;
    color: #9f9cc0;
  }

  .first:active {
    background-color: #e9f8f3;
    box-shadow: 0 5px black;
    transform: translateY(4px);
  }
  button {
    -webkit-appearance: none;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #cce1c3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: #9f9cc0;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: white;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'top top top'
      'mid mid mid'
      'bott bott bott';
  }
  .top-portion {
    height: 45vh;
    display: grid;
    grid-area: top;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'logo logo banner'
      'logo logo banner'
      'logo logo navbar';
  }
  .mid-portion {
    display: grid;
    grid-area: mid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
      'tt t t'
      'mm mm mm'
      'bb bb b';
  }
  .photo-container {
    grid-area: mm;
  }
  .kamajo {
    grid-area: t;
  }
  .krispe {
    grid-area: tt;
  }
  .marykra {
    grid-area: bb;
  }
  .nodisplay {
    display: none;
  }
  .gallery_item-1 {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: 70%;
  }
  .gallery_item-2 {
    width: 50%;
    height: auto;
    margin-right: auto;
    margin-left: 40%;
  }
  .gallery_item-3 {
    width: 50%;
    height: auto;
    margin-right: 40%;
    margin-left: auto;
  }
  .gallery_item-4 {
    width: 50%;
    height: auto;
    margin-right: auto;
    margin-left: 40%;
  }
  .one {
    grid-area: t;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom-style: solid;
    border-bottom-color: #9f9cc0;
    border-bottom-width: 4px;
    border-left-style: solid;
    border-left-color: #9f9cc0;
    border-left-width: 4px;
  }
  .two {
    grid-area: tt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 0px 10px;
    border-bottom-style: solid;
    border-bottom-color: #9f9cc0;
    border-bottom-width: 4px;
  }
  .two h3 {
    padding-bottom: 10px;
  }
  .two h4 {
    padding-top: 20px;
  }
  .contact-reclaim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .three {
    grid-area: mm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -170px;
    border-bottom-style: solid;
    border-bottom-color: #9f9cc0;
    border-bottom-width: 4px;
    padding: 40px;
  }
  .four img {
    display: none;
  }
  .four {
    grid-area: mm;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    margin-bottom: -100px;
  }
  .five {
    grid-area: b;
    border-left-style: solid;
    border-left-color: #9f9cc0;
    border-left-width: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .six {
    grid-area: bb;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logo-banner {
    grid-area: logo;
    border-bottom-style: solid;
    border-bottom-color: #9f9cc0;
    border-bottom-width: 4px;
  }
  .promo-banner {
    grid-area: banner;
  }
  .navbar {
    grid-area: navbar;
  }
  .top-portion {
    grid-area: top;
  }
  .mid-portion {
    grid-area: mid;
  }
  .bottom-portion {
    grid-area: bott;
  }
}
/* Media Query for Large screens */
@media (min-width: 1025px) {
  .logo-banner img {
    width: 100%;
    height: 100%;
  }
  .promo-banner h3 {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #9f9cc0;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    color: #e9f8f3;
    height: 100%;
  }
  .promo-banner a {
    text-decoration: none;
    color: black;
  }
  nav {
    border-top-style: solid;
    border-top-color: #9f9cc0;
    border-top-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #9f9cc0;
    border-bottom-width: 4px;
    border-left-style: solid;
    border-left-color: #9f9cc0;
    border-left-width: 4px;
    padding: 20px;
    background-color: #cce1c3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  .flexin {
    display: flex;
  }
  .flexin a {
    margin: 5px;
  }
  .contact a {
    margin: 5px;
  }
  footer {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    border-top-style: solid;
    border-top-color: #9f9cc0;
    border-top-width: 4px;
    border-bottom-style: solid;
    border-bottom-color: #9f9cc0;
    border-bottom-width: 4px;
    align-items: center;
    margin-top: 137px;
  }
  footer .contact {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  footer img {
    width: 45% !important;
    height: 100% !important;
    border-left-style: solid;
    border-left-color: #9f9cc0;
    border-left-width: 4px;
    padding-left: 80px;
  }
  .contact a {
    color: black;
    text-decoration: none;
  }
  .contact i {
    color: #9f9cc0;
  }
  iframe {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: 400px;
  }
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .first {
    padding: 10px 30px;
    outline: none;
    background-color: #9f9cc0;
    border: none;
    border-radius: 5px;
    box-shadow: 0 9px black;
  }

  .first:hover {
    background-color: #e9f8f3;
    color: #9f9cc0;
  }

  .first:active {
    background-color: #e9f8f3;
    box-shadow: 0 5px black;
    transform: translateY(4px);
  }
  button {
    -webkit-appearance: none;
  }
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #cce1c3;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    color: #9f9cc0;
    font-weight: bold;
    padding: 12px 16px;
    text-decoration: none;
    text-align: center;
    display: block;
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: white;
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 45vh auto 45vh;
    grid-template-areas:
      'top top top'
      'mid mid mid'
      'bott bott bott';
  }
  .top-portion {
    height: 45vh;
    display: grid;
    grid-area: top;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      'logo logo banner'
      'logo logo banner'
      'logo logo navbar';
  }
  .mid-portion {
    display: grid;
    grid-area: mid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'tt t t'
      'mm mm mm'
      'bb bb b';
  }
  .krispe {
    grid-area: t;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  .kamajo {
    grid-area: bb;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -50px;
  }
  .nodisplay {
    display: none;
  }
  .photo-container {
    grid-area: mm;
  }
  .gallery_item-1 {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .gallery_item-2 {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .gallery_item-3 {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .gallery_item-4 {
    width: 50%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
  }
  .one {
    grid-area: t;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-color: #9f9cc0;
    border-bottom-width: 4px;
    border-left-style: solid;
    border-left-color: #9f9cc0;
    border-left-width: 4px;
  }
  .one img {
    object-fit: contain;
  }
  .one h4 {
    width: 400px;
  }
  .logo-banner img {
    object-fit: cover;
    height: 100%;
    width: auto;
  }
  .two {
    grid-area: tt;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 10px 0px 10px;
    border-bottom-style: solid;
    border-bottom-color: #9f9cc0;
    border-bottom-width: 4px;
  }
  .two h3 {
    padding-bottom: 10px;
  }
  .two h4 {
    padding-top: 20px;
  }
  .contact-reclaim {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .three {
    grid-area: mm;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: -170px;
    border-bottom-style: solid;
    border-bottom-color: #9f9cc0;
    border-bottom-width: 4px;
  }
  .three h4 {
    width: 450px;
  }
  .four img {
    display: none;
  }
  .four {
    grid-area: mm;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    margin-bottom: -100px;
  }
  .five {
    grid-area: b;
    border-left-style: solid;
    border-left-color: #9f9cc0;
    border-left-width: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .six {
    grid-area: bb;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .logo-banner {
    grid-area: logo;
    border-bottom-style: solid;
    border-bottom-color: #9f9cc0;
    border-bottom-width: 4px;
  }
  .promo-banner {
    grid-area: banner;
    z-index: 3;
  }
  .navbar {
    grid-area: navbar;
  }
  .top-portion {
    grid-area: top;
  }
  .mid-portion {
    grid-area: mid;
  }
  .bottom-portion {
    grid-area: bott;
  }
}
